<head>
	  <%= javascript_include_tag "highcharts" %>
	  <script type="text/javascript" src="/js/themes/gray.js"></script>
	  
	  <script>
        $(function () { 
          $('#piechart').highcharts({
            chart: { type: 'pie'},
            title: { text: 'Funding'},
            credits: {enabled: false},
            series: [{name: 'funding', data: [
                                                 ['Private', 35],
                                                 ['Government', 5],
                                                 ['Corporate',60],


                                             ]
                    }]
          



          });
          });

	  </script>

</head>


<div class="org-side-window-panel" id="piechart" style="height:300px; margin-bottom:10px"></div>
