<div class='org-top-header'>
  <div class="org-header-left">
        <%= image_tag("http://cdn.styleforum.net/c/c7/c7b62ada_UN_Logo_OW.gif", :alt => "no logo", :class => "logo-image") %>
       <h3> Fundacion San Andres </h3>
       (<%= @transparency %>stars go here)<br><br>
  </div>


</div>
