<div class='org-top-header'>
  <div class="org-header-left">
        <%= image_tag("http://static.guim.co.uk/sys-images/Arts/Arts_/Pictures/2009/2/20/1235150177056/Smiley-001.jpg", :alt => "no logo", :class => "logo-image") %>
       <h3> Fundacion San Andres </h3>
       (<%= @transparency %>stars go here)<br><br>
  </div>


</div>