<div class='org-top-header'>
  <div class="org-header-left">
        <%= image_tag("http://cdn.styleforum.net/c/c7/c7b62ada_UN_Logo_OW.gif", :alt => "no logo", :class => "org-logo-image") %>
  
       <span id='org-header-title'> <%=@org.name%><br> </span>
       <span><br> </span>
        <span id="org-stars" >
          <% @transparency = 2 %>
         <%=" ★ " * @transparency %>
         <%= " ☆ " * (3 - @transparency) %>
       </span>
  </div>


</div>
