
<div class='org-side-window'>
  <div id='org-last-updated'><%=t(:Last_updated)+":" %></div>
  <div class='org-side-window-panel' id="youtube-panel">
        <center><iframe width="300" height="225" src="//www.youtube.com/embed/LHKLS6TECTA?modestbranding=1&rel=0&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>
        <center>
  </div>
<br>

   <div class="org-side-window-panel">


<!-- Twitter widget below (http://twitterforweb.com) -->
    <center>
      <div style="width:300px;font-size:8px;text-align:right;"><script type="text/javascript">
       document.write(unescape("%3Cscript src='http://twitterforweb.com/twitterbox.js?username=billclinton&settings=1,1,3,300,550,f4f4f4,1,,101010,1,1,336699' type='text/javascript'%3E%3C/script%3E"));</script>
      </div>
    <center>



   </div>

 </div>



