              <table id="org-staff-table">
                <thead>
                  <td><span><%=t(:Full_Time)%></span></td>
                  <td><%=t(:Part_Time)%> </td>
                  <td><%=t("Volunteers")%> </td>
                </thead>

                <tr>
                  <td> 10 </td>
                  <td> 22 </td>
                  <td> 56 </td>
                </tr>


              
              </table>
