              <table id="org-staff-table">
                <thead>
                  <td>Full Time </td>
                  <td>Part Time </td>
                  <td> Permanent volunteers </td>
                </thead>

                <tr>
                  <td> 10 </td>
                  <td> 22 </td>
                  <td> 56 </td>
                </tr>


              
              </table>
