
<div id="main">
  <div id="search">
    <p>Search Organizations</p>
    <%= form_tag :search_orgs, method: :get do %>
      <fieldset class="search">
        <%= text_field_tag :keyword, nil, placeholder: "Enter name, address, or type of cause" %>
        <%= submit_tag "Search", class: "small radius success button" , id: "search-submit" %>
      </fieldset>
    <% end %>
  <div>
</div>










