

  

  <div id="main">
    <div id="search">
      <p>Search Organizations</p>
      <%= form_tag root_path, method: :get do %>
        <fieldset class="search">
         
          <input id="search-box" type="text" placeholder="Enter name, address, or type of cause">
          <a id= "search-submit" href="" class="small radius success button">Search</a>

        </fieldset>
      <% end %>
    <div>
  </div>
  <div>
     <%= text_field_tag :keyword, placeholder: "Enter name, address, or type of cause" %>
  </div>








