<div class="results-container">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h1>About Us <small>It's Nice to Meet You!</small></h1>
      <hr>
      <p>This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>
      <p>This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>
    </div>

    <div class="large-11 large-centered columns">
        <h2>Our Team</h2>
        <hr>
    </div>
  </div>

  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="large-5 small-5 columns">
        <img src="http://placehold.it/200x200">
          <h3>Lloyd Nimetz <small>Job Title</small></h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="large-5 small-5 columns">
        <img src="http://placehold.it/200x200">
          <h3>Lily Jarusvasunt <small>Job Title</small></h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="large-5 small-5 columns">
        <img src="http://placehold.it/200x200">
          <h3>Doktor Gurson <small>Job Title</small></h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
      <div class="large-5 small-5 columns">
        <img src="http://placehold.it/200x200">
          <h3>Alejandro Barbero <small>Job Title</small></h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      </div>
    </div>
  </div>
  

</div>

