  <div class="org-navigation-panel">
    <center><ul id="tabs-list">
      <li><div class="org-tab-button" id="org-programs-butt"><a href="#"><%= t("Programs")%></a></div></li>
      <li><div class="org-tab-button" id="org-team-butt"><a href="#"><%=t("Team")%></a></div></li>
      <li><div class="org-tab-button" id="org-financials-butt"><a href="#"><%=t("Financials")%></a></div></li>
      <li><div class="org-tab-button" id="org-affiliations-butt"><a href="#"><%=t("Affiliations")%></a></div></li>
    </ul><center>
  </div>
