/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "foundation";

$grey: #282929;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $grey;
}

.top-bar {
  background-color: #282929;
  margin-bottom: 0px;
  font-size: 20px;
}

.top-bar-section {
  padding-right: 20px;
}

.top-bar-section li a:not(.button){
  font-size: 15px;
  background: #282929;
}

.logo {
  width: 200px;
  height: 37px;
  padding: 5px;
}


.container {
  min-width: 100%;
  min-height: 100%;
}

#main {
  position: relative;
  background-image: url("http://farm4.staticflickr.com/3799/9952425716_7be564f2bd_k.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 820px;
}

#search {
  height: 230px;
  width: 695px;
  top: 30%;
  margin: 0 auto;
  position: relative;
  background-color: black;
  border-radius: 5px;
  opacity:0.8;
}

#search p{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: $grey 0px 5px 0px;
}

fieldset.search {
  position: relative;
  margin: 0 auto;
  width: 100%;
  border: none;
  margin-left: 114px;
}

fieldset #search-box {
  height: 36px;
  width: 350px;
} 

fieldset #search-submit {
  float: right;
  top: -50px;
  left: -200px;
  font-size: 15px;
} 

#search-box {
  border-radius: 5px;
}

.foot{
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
}

.flag {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}









