$grey: #282929;
$light-grey: #a8a8a8;

$awhite: #FAFAFA;


* {
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

#homepage {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 100%;
  padding-bottom:120px;
  background-image: url("http://farm4.staticflickr.com/3799/9952425716_7be564f2bd_k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  .container {
    min-width: 100%;
    height: 100%;
  }
}

#normalpage {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 100%;
  padding-bottom:120px;
  .container {
    min-width: 100%;
    height: 100%;
  }
}

.top-bar {
  background: $grey;
  margin-bottom: 0px;
  background-color: #282929;
  font-size: 20px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.top-bar-section {
  padding-right: 20px;
  li a:not(.button){
    font-size: 15px;
    background: $grey;
  }
  ul {
    background: $grey;
  }
  li a:not(.button):hover{
    background: $grey !important;
  }
}

.logo {
  width: 200px;
  height: 37px;
  padding-top: 10px;
  padding-left:10px;
  filter: brightness(170%);
  -webkit-filter: brightness(170%);
  -moz-filter: brightness(170%);
  -o-filter: brightness(170%);
  -ms-filter: brightness(170%);
}




#search {
  height: 230px;
  width: 695px;
  top: 14em;
  margin: 0 auto;
  position: relative;
  background-color: black;
  border-radius: 5px;
  opacity:0.8;
  p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: $grey 0px 5px 0px;
  }
}


fieldset.search {
  position: relative;
  margin: 0 auto;
  width: 100%;
  border: none;
  margin-left: 114px;
}

fieldset #search_terms {
  height: 36px;
  width: 350px;
  border-radius: 5px;
}

fieldset #keyword {
  height: 36px;
  width: 350px;
  border-radius: 5px;
}

fieldset #search-submit {
  float: right;
  top: -50px;
  left: -200px;
  font-size: 15px;
}

#search-box {
  border-radius: 5px;
}

.foot{
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0px;
  padding-top: 20px;
  clear: both;
  text-align: center;
  background-color: $grey;

  p {
    color: $awhite;
    font-size: 12px;
  }
  .flag {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin: 5px;
    cursor: pointer;
  }
}

.filter{
  width: 100%;
  height: 90px;
  background-color: $awhite;
  text-align: center;
  padding-top: 15px;
    div:last-child {
      border: none;
    }
    div {
    float:left;
    border-right: 1px solid #eee;
    padding-right: 25px;
    padding-left: 25px;

  }
  div:first-child {
    margin-left: 50px;
  }
  div p{
    font-size: 12px;
    font-weight: bold;
  }
  #customDropdown{
    font-size: 11px;
    padding: 10px;
  }
  a{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
  }
  .apply{
    font-size: 15px;
    margin-top: 15px;
    margin-right: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

}

.search-sum {
  padding: 11px 0 7px 21px;
  background-color: #eeebeb;
  border-bottom: 1px solid #cfcbcb;
}

.results-container {
  position: relative;
  height: 100%;
  background-color: #E7E7E7;
  margin-top: 0px;
  .list-container {
    width: 839px;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #fff;
    color: $light-grey;
    font-size: 15px;
    .star{
      color: #FFA500;
    }
    div {
      min-height: 100%;
    }
    h4 a{
      color: #4587ba;
      text-decoration: none;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    ul{
      padding-top: 0px;
    }
    ul li{
      list-style-type: none;
    }
  }
}

.org-logo {
  max-width: 100%;
  height: 152px;
}


