.show-container {
  background-color: white;
  min-height: 1400px;
}

.org-side-window-panel {
  width:100%;
  padding:5px;
  margin: 0 auto;
  border-radius: 10px;
  overflow:hidden;
}


.org-header-left {
  float:left;
  max-width:600px;
  width:100%;
  height: 100%;
  height:150px;
  border: 2px solid #E0E0E0;
  border-radius:10px;
  padding:20px;
}

.org-header-right {
  width:100%;
  padding:10px;
  margin: 0 auto;
  height:150px;
  border:2px solid #E0E0E0;
  border-radius:10px;
  color:#898989;
}

  .org-header-right ul{
    font-size:small;
    line-height:120%;
    list-style-type:none;
  }


.org-window-holder {
  max-width:840px;
  padding-top: 10px;
  margin: 0 auto;
}

.org-main-window{
  max-width:600px;
  width:65%;
  float:left;
  margin-bottom:10px;
}


.org-side-window{
  width:320px;
  float:left;
  margin-left:15px;
  margin-right:-450px;
  margin-bottom:10px;

}


#org-header-title {
  padding-left:20px;
  font-size:xx-large;

}

#org-stars{
  margin-top:20px;
  padding-left:20px;
  color:#274873;
  font-size:x-large;

}

.org-logo-image {
  position: relative;
  float: left;
  height: 80%;
}


.org-main-window-panel {
  width:100%;
  padding:5px;
  margin: 0 auto;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
}
  .org-main-window-panel ul {list-style-type:none;}


.org-navigation-panel {
  width:100%;
  padding:0px;
  margin: 0 auto;
  list-style-type: none;

}


.org-side-window-panel {
  width:100%;
  padding:5px;
  margin: 0 auto;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  overflow:hidden;
}

.foot{
  clear:both;
}

.org-tab-button {
  width:20%;
  /*border-radius: 5px;*/
  /*border: 1px solid;*/
  /*border-color:#E0E0E0;*/
  padding-left: 5px;
  padding-right:5px;
  margin:0 auto;
  display:inline-block;
  overflow:hidden;
  overflow:clip;
  text-align:center;
}

  .org-tab-button a {
    font-style:italic;
  }

.org-info-display{
  display:none;
}

.org-tab-button:hover {opacity: 0.6;}

a { color:black;}

#tabs-list {
  padding:0px;
  margin:0;
}

#tabs-list li {
  display:inline;
}

.org-floaters {
  padding:0;
  margin:9px;
  color:#898989;
  font-size:small;
}


#youtube-panel {
   background: black;
   padding:0px;
   padding-bottom:5px;
}

.org-profile-icons {
  float:right;
}

img.desaturate{
  opacity:0.8;
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
}


.org-info-list{

  margin:20px;
  width:90%
}
  .org-info-list span {
    position:absolute;
  }
  .org-info-list ol {
    list-style-type:none;
    color:grey;
    text-align:justify;
  }
  .org-info-list ol ul {
    position:relative;
    margin-bottom:20px;
    font:bold italic 60px/1.5 Helvetica, Verdana, sans-serif;
  }
  .org-info-list li p {
    padding-left:120px;
    color:#555;
  }

#org-data-table {
  width:100%;
  padding-left: 120px;
  border:none;
}

  #org-data-table tr {
    opacity:0.8;
    text-align:center;
    background-color:#E0E0E0;
  }

  #org-data-table thead td {
    width:33%;
    opacity:0.8;
    text-align:center;
    color: white;
    background-color:#898989;

  }


.org-text-padding {
    padding-left:20px;
}

.check-or-cross {
  opacity:0.5;
  width:20px;
  height:20px;
}


